In [1]:
import pandas as pd
import io
from ast import literal_eval
import re
import numpy as np

def converter(x):
    return literal_eval(x)
def convert_to_array(x):
    x = x.replace('\n','')[1:-1]
    return np.array(list(map(float,x.split())))

#define each column
converters={'Encode Text': converter, 'embedding':convert_to_array}

df_with_label = pd.read_csv('C:/Users/david/Downloads/df_with_label.csv', 
                 sep=',',index_col=0,
                 converters=converters)
df_no_label = pd.read_csv('C:/Users/david/Downloads/df_no_label.csv', 
                 sep=',',index_col=0,
                 converters=converters)

In [2]:
data = df_with_label.copy()
data

,Title,Company,Location,Link,Description,seniority_level,query,job_id,job_index,apply_link,date,job_function,industries,employment_type,description_html,place,New Description,Encode Text,New_Description_1,embedding
2108,Data Scientist,CBRE,Ontario,https://ca.linkedin.com/jobs/view/data-scienti...,Data Scientist\n\nJob ID\n\n26195\n\nPosted\n\...,Entry level,AI Engineer,2.673220e+09,0.0,https://www.linkedin.com/jobs/view/externalApp...,8/3/2021,Engineering and Information Technology,Real Estate,Full-time,"<div class=""description__text description__tex...","Toronto, Ontario, Canada",Data Scientist. Job ID. 26195. Posted. 03-...,[Develop and deploy cloud-based automation app...,Data Scientist. Job ID. 26195. Posted. 03-...,"[-0.29719907, -0.19061026, 0.818259895, -0.405..."
2109,Machine Learning Engineer - DeviantArt,Wix.com,British Columbia,https://ca.linkedin.com/jobs/view/machine-lear...,We Are\n\nThe DeviantArt team. We’ve been arou...,Mid-Senior level,AI Engineer,2.673214e+09,0.0,https://www.linkedin.com/jobs/view/externalApp...,8/3/2021,Engineering and Information Technology,Internet and Computer Software,Full-time,"<div class=""description__text description__tex...","Vancouver, British Columbia, Canada",We Are. The DeviantArt team. We’ve been aroun...,[The systems we develop are at the core of how...,We Are. The DeviantArt team. We’ve been aroun...,"[-0.0684582368, -0.242557198, 0.729946375, -0...."
2110,Data Scientist,Scribd,British Columbia,https://ca.linkedin.com/jobs/view/data-scienti...,"At Scribd (pronounced “scribbed”), we believe ...",Associate,AI Engineer,2.635379e+09,1.0,https://www.linkedin.com/jobs/view/externalApp...,8/3/2021,Engineering and Information Technology,Online Media,Full-time,"<div class=""description__text description__tex...","Vancouver, British Columbia, Canada","At Scribd (pronounced “scribbed”), we believe ...",[Applied Research works on a variety of ML and...,"At Scribd (pronounced “scribbed”), we believe ...","[0.0843317956, -0.296700656, 0.893622339, -0.5..."
2112,Machine Learning Developer / Développeur appre...,Unity Technologies,Quebec,https://ca.linkedin.com/jobs/view/machine-lear...,The opportunity\n\nUnity is actively seeking a...,Entry level,AI Engineer,2.667106e+09,1.0,https://www.linkedin.com/jobs/view/externalApp...,8/3/2021,Engineering and Information Technology,"Information Technology and Services, Computer ...",Full-time,"<div class=""description__text description__tex...","Montreal, Quebec, Canada",The opportunity. Unity is actively seeking a ...,[Unity is actively seeking a proficient machin...,The opportunity. Unity is actively seeking a ...,"[-0.0671256483, -0.0651571602, 0.861628294, -0..."
2113,GPU Machine Learning Software Developer- 104421,AMD,Alberta,https://ca.linkedin.com/jobs/view/gpu-machine-...,What You Do At AMD Changes Everything\n\nAt AM...,Mid-Senior level,AI Engineer,2.635379e+09,1.0,NaN,8/3/2021,Engineering and Information Technology,Semiconductors,Full-time,"<div class=""description__text description__tex...","Calgary, Alberta, Canada",What You Do At AMD Changes Everything. At AMD...,[We believe in changing the world for the bett...,What You Do At AMD Changes Everything. At AMD...,"[0.0655079782, 0.0121015627, 0.840936542, -0.5..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47699,"Senior Manager, Software Engineering - Open So...",GitHub,Ontario,https://ca.linkedin.com/jobs/view/senior-manag...,\nGitHub is changing the way the world builds ...,Mid-Senior level,Software Developer,2.674553e+09,106.0,NaN,8/9/2021,Engineering and Information Technology,Computer Software,Full-time,"<div class=""description__text description__tex...","Toronto, Ontario, Canada",. GitHub is changing the way the world builds ...,"[The team is distributed across the US, Canada...",. GitHub is changing the way the world builds ...,"[-0.0730892941, -0.308131516, 0.797860384, -0...."
47701,"Senior Software Developer - .NET, Upland (Remo...",Crossover for Work,Ontario,https://ca.linkedin.com/jobs/view/senior-softw...,Crossover is the world's #1 source of remote f...,Associate,Software Developer,2.673898e+09,111.0,NaN,8/9/2021,Engineering,"Computer & Network Security, Computer Software...",Full-time,"<div class=""description__text description__tex...","Toronto, Ontario, Canada",Crossover is the world's #1 source of remote f...,[Demonstrate that you have what it takes and y...,Crossover is the world's #1 source of remote f...,"[-0.2488406, -0.171190292, 0.740776122, -0.446..."
47702,".NET Developer, Upland (Remote) - $60,000/year...",Crossover for Work,Ontario,https://ca.linkedin.com/jobs/view/net-develope...,Crossover is the world's #1 source of remote f...,Associate,Software Developer,2.673358e+09,112.0,NaN,8/9/2021,"Business Development, Engineering, and Informa...","Computer Software, Information Technology and ...",Full-time,"<div class=""description__text description__tex...","Ontario, Canada",Crossover is the world's #1 source of remote f...,[Demonstrate that you have what it takes and y...,Crossover is the world's #1 source of remote f...,"[-0.279007226, -0.172617644, 0.758910596, -0.4..."
47703,TDM Lead,Tata Consultancy Services,Ontario,https://ca.linkedin.com/jobs/view/tdm-lead-at-...,• Operational Knowledge:\n\na. High level of E...,Mid-Senior level,Software Developer,2.673508e+09,121.0,NaN,8/9/2021,Information Technology,Information Technology and Services,Full-time,"<div class=""description__text description__tex...","Toronto, Ontario, Canada",• Operational Knowledge:. a. High level of Ex...,[Have created Test Data Management (TDM) strat...,• Operational Knowledge:. a. High level of Ex...,"[-0.32250604, -0.323309779, 0.902448535, -0.29..."
47704,Sr. Embedded Engineer,icon,Ontario,https://ca.linkedin.com/jobs/view/sr-embedded-...,An integrated solutions provider for the signa...,Mid-Senior level,Software Developer,2.678580e+09,122.0,NaN,8/9/2021,Engineering and Information Technology,Staffing and Recruiting,Full-time,"<div class=""description__text description__tex...","Oakville, Ontario, Canada",An integrated solutions provider for the signa...,[· Contribute to all phases of the softwa...,An integrated solutions provider for the signa...,"[0.0402391627, 0.0179011114, 0.882911682, -0.8..."

In [13]:
## years

def clean_years(string):
    string.replace('3-5','4',inplace=True)
    string.replace('(5','5',inplace=True)
    string.replace('5-7','6',inplace=True)
    string.replace('7-10','8',inplace=True)
    string.replace('2-3','3',inplace=True)
    string.replace('(3','3',inplace=True)
    string.replace('(2','2',inplace=True)
    string.replace('(10','10',inplace=True)
    string.replace('1-3','2',inplace=True)
    string.replace('2-5','4',inplace=True)
    string.replace('8-10','9',inplace=True)
    string.replace('5-10','8',inplace=True)
    string.replace('Five','5',inplace=True)
    string.replace('1-2','2',inplace=True)
#     string.replace('less',None,inplace=True)# all rows with no years of experience will be replace by none

In [6]:
def extract_years(description):
    
    # extract the years of experience on the description columns
        
    years = description.apply(lambda x : x.split("+ years")[0].split()[-1] )
    
    # Clean the extracted years:
    clean_years(years)
    return years

In [15]:

def clean_better(z):
    listOfYears =  ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20']
    if z not in listOfYears:
        z = None
    else:
        z = int(z)
    return z

# instead use this : apply(lambda x : None if x not in listOfYears else int(x) )

In [16]:
data['years of experience'] = extract_years(data['Description']).apply(clean_better)

In [17]:
def extract_adj(title):
    
    Adj = {'entry', 'i', 'intern', 'junior', 'intership',
           'associate', 'ii', 'staff', 'mid','mid-senior',
           'sr','sr.','senior', 'lead','manager','iii', 'director', 'executive', 'president', 'vice'}
    
    for word in title.lower().split():
        if word in Adj: 
            return word
        else: return None

In [18]:
data['key title'] = data['Title'].apply(extract_adj)

In [22]:
def Labelled(df):
    junior_keys = {'entry', 'i', 'intern', 'junior', 'intership'}
    mid_keys = {'associate', 'ii', 'staff', 'mid', 'mid-senior'}
    senior_keys = {'sr','sr.','senior', 'lead','manager','iii', 'director', 'executive', 'president', 'vice'}
    
    for word in df['Title'].lower().split():
        # If a job has a junior keyword then it is a junior job
        if word in junior_keys:
            
            return "Junior"
            
        # If a job has a junior keyword and years of experience is less than 4 then it is a junior job
        elif word in mid_keys:
            
            if df['years of experience'] < 4 :
                return "Junior"
            else:
                return "Senior"
        # If job title has senior keyword than it is a senior job
        elif word in senior_keys:
            return "Senior"

        # when we don't have any key word in the title
        # less than 4n years of experience the job is a junior job
        else:
            if df['years of experience'] < 4 :
                return "Junior"
            else:
                return "Senior"

In [23]:
# data = data.dropna()              
                
data['new_label'] = data.apply(Labelled, axis= 1)

data

,Title,Company,Location,Link,Description,seniority_level,query,job_id,job_index,apply_link,...,employment_type,description_html,place,New Description,Encode Text,New_Description_1,embedding,years of experience,key title,new_label
2108,Data Scientist,CBRE,Ontario,https://ca.linkedin.com/jobs/view/data-scienti...,Data Scientist\n\nJob ID\n\n26195\n\nPosted\n\...,Entry level,AI Engineer,2.673220e+09,0.0,https://www.linkedin.com/jobs/view/externalApp...,...,Full-time,"<div class=""description__text description__tex...","Toronto, Ontario, Canada",Data Scientist. Job ID. 26195. Posted. 03-...,[Develop and deploy cloud-based automation app...,Data Scientist. Job ID. 26195. Posted. 03-...,"[-0.29719907, -0.19061026, 0.818259895, -0.405...",2.0,None,Junior
2109,Machine Learning Engineer - DeviantArt,Wix.com,British Columbia,https://ca.linkedin.com/jobs/view/machine-lear...,We Are\n\nThe DeviantArt team. We’ve been arou...,Mid-Senior level,AI Engineer,2.673214e+09,0.0,https://www.linkedin.com/jobs/view/externalApp...,...,Full-time,"<div class=""description__text description__tex...","Vancouver, British Columbia, Canada",We Are. The DeviantArt team. We’ve been aroun...,[The systems we develop are at the core of how...,We Are. The DeviantArt team. We’ve been aroun...,"[-0.0684582368, -0.242557198, 0.729946375, -0....",2.0,None,Junior
2110,Data Scientist,Scribd,British Columbia,https://ca.linkedin.com/jobs/view/data-scienti...,"At Scribd (pronounced “scribbed”), we believe ...",Associate,AI Engineer,2.635379e+09,1.0,https://www.linkedin.com/jobs/view/externalApp...,...,Full-time,"<div class=""description__text description__tex...","Vancouver, British Columbia, Canada","At Scribd (pronounced “scribbed”), we believe ...",[Applied Research works on a variety of ML and...,"At Scribd (pronounced “scribbed”), we believe ...","[0.0843317956, -0.296700656, 0.893622339, -0.5...",3.0,None,Junior
2112,Machine Learning Developer / Développeur appre...,Unity Technologies,Quebec,https://ca.linkedin.com/jobs/view/machine-lear...,The opportunity\n\nUnity is actively seeking a...,Entry level,AI Engineer,2.667106e+09,1.0,https://www.linkedin.com/jobs/view/externalApp...,...,Full-time,"<div class=""description__text description__tex...","Montreal, Quebec, Canada",The opportunity. Unity is actively seeking a ...,[Unity is actively seeking a proficient machin...,The opportunity. Unity is actively seeking a ...,"[-0.0671256483, -0.0651571602, 0.861628294, -0...",NaN,None,Senior
2113,GPU Machine Learning Software Developer- 104421,AMD,Alberta,https://ca.linkedin.com/jobs/view/gpu-machine-...,What You Do At AMD Changes Everything\n\nAt AM...,Mid-Senior level,AI Engineer,2.635379e+09,1.0,NaN,...,Full-time,"<div class=""description__text description__tex...","Calgary, Alberta, Canada",What You Do At AMD Changes Everything. At AMD...,[We believe in changing the world for the bett...,What You Do At AMD Changes Everything. At AMD...,"[0.0655079782, 0.0121015627, 0.840936542, -0.5...",NaN,None,Senior
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47699,"Senior Manager, Software Engineering - Open So...",GitHub,Ontario,https://ca.linkedin.com/jobs/view/senior-manag...,\nGitHub is changing the way the world builds ...,Mid-Senior level,Software Developer,2.674553e+09,106.0,NaN,...,Full-time,"<div class=""description__text description__tex...","Toronto, Ontario, Canada",. GitHub is changing the way the world builds ...,"[The team is distributed across the US, Canada...",. GitHub is changing the way the world builds ...,"[-0.0730892941, -0.308131516, 0.797860384, -0....",NaN,senior,Senior
47701,"Senior Software Developer - .NET, Upland (Remo...",Crossover for Work,Ontario,https://ca.linkedin.com/jobs/view/senior-softw...,Crossover is the world's #1 source of remote f...,Associate,Software Developer,2.673898e+09,111.0,NaN,...,Full-time,"<div class=""description__text description__tex...","Toronto, Ontario, Canada",Crossover is the world's #1 source of remote f...,[Demonstrate that you have what it takes and y...,Crossover is the world's #1 source of remote f...,"[-0.2488406, -0.171190292, 0.740776122, -0.446...",NaN,senior,Senior
47702,".NET Developer, Upland (Remote) - $60,000/year...",Crossover for Work,Ontario,https://ca.linkedin.com/jobs/view/net-develope...,Crossover is the world's #1 source of remote f...,Associate,Software Developer,2.673358e+09,112.0,NaN,...,Full-time,"<div class=""description__text description__tex...","Ontario, Canada",Crossover is the world's #1 source of remote f...,[Demonstrate that you have what it takes and y...,Crossover is the world's #1 source of remote f...,"[-0.279007226, -0.172617644, 0.758910596, -0.4...",NaN,None,Senior
47703,TDM Lead,Tata Consultancy Services,Ontario,https://ca.linkedin.com/jobs/view/tdm-lead-at-...,• Operational Knowledge:\n\na. High level of E...,Mid-Senior level,Software Developer,2.673508e+09,121.0,NaN,...,Full-time,"<div class=""description__text description__tex...","Toronto, Ontario, Canada",• Operational Knowledge:. a. High level of Ex...,[Have created Test Data Management (TDM) strat...,• Operational Knowledge:. a. High level of Ex...,"[-0.32250604, -0.323309779, 0.902448535, -0.29...",NaN,None,Senior
47704,Sr. Embedded Engineer,icon,Ontario,https://ca.linkedin.com/jobs/view/sr-embedded-...,An integrated solutions provider for the signa...,Mid-Senior level,Software Developer,2.678580e+09,122.0,NaN,...,Full-time,"<div class=""description__text description__tex...","Oakville, Ontario, Canada",An integrated solutions provider for the signa...,[· Contribute to all phases of the softwa...,An integrated solutions provider for the signa...,"[0.0402391627, 0.0179011114, 0.882911682, -0.8...",NaN,sr.,Senior

In [24]:
data.count()

Title                  35188
Company                35188
Location               35188
Link                   35188
Description            35188
seniority_level        35188
query                  35188
job_id                 35188
job_index              35188
apply_link             27401
date                   35188
job_function           35188
industries             35188
employment_type        35188
description_html       35188
place                  35184
New Description        35188
Encode Text            35188
New_Description_1      35188
embedding              35188
years of experience    15379
key title               9060
new_label              35188
dtype: int64

In [25]:
data['new_label'].value_counts(normalize=True)

Senior    0.847704
Junior    0.152296
Name: new_label, dtype: float64

In [26]:
data_labelled = data.dropna(subset = ['new_label'])

In [27]:
data_labelled.count()

Title                  35188
Company                35188
Location               35188
Link                   35188
Description            35188
seniority_level        35188
query                  35188
job_id                 35188
job_index              35188
apply_link             27401
date                   35188
job_function           35188
industries             35188
employment_type        35188
description_html       35188
place                  35184
New Description        35188
Encode Text            35188
New_Description_1      35188
embedding              35188
years of experience    15379
key title               9060
new_label              35188
dtype: int64

# ML

In [43]:
pip install -U scikit-learn matplotlib plotly seaborn xgboost imblearn

Requirement already satisfied: scikit-learn in c:\users\david\appdata\local\programs\python\python310\lib\site-packages (1.1.2)
Requirement already satisfied: matplotlib in c:\users\david\appdata\local\programs\python\python310\lib\site-packages (3.5.3)
Requirement already satisfied: plotly in c:\users\david\appdata\local\programs\python\python310\lib\site-packages (5.10.0)
Requirement already satisfied: seaborn in c:\users\david\appdata\local\programs\python\python310\lib\site-packages (0.12.0)
Requirement already satisfied: xgboost in c:\users\david\appdata\local\programs\python\python310\lib\site-packages (1.6.2)
Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\david\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=1.0.0 in c:\users\david\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\david\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.9.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\david\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn) (1.22.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\david\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\david\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (4.37.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\david\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (3.0.7)
Requirement already satisfied: packaging>=20.0 in c:\users\david\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\david\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\david\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\david\appdata\roaming\python\python310\site-packages (from matplotlib) (2.8.2)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: tenacity>=6.2.0 in c:\users\david\appdata\local\programs\python\python310\lib\site-packages (from plotly) (8.0.1)
Requirement already satisfied: pandas>=0.25 in c:\users\david\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.4.0)
Collecting imbalanced-learn
  Downloading imbalanced_learn-0.9.1-py3-none-any.whl (199 kB)
Requirement already satisfied: pytz>=2020.1 in c:\users\david\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.25->seaborn) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\david\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: imbalanced-learn, imblearn
Successfully installed imbalanced-learn-0.9.1 imblearn-0.0

WARNING: You are using pip version 21.2.4; however, version 22.2.2 is available.
You should consider upgrading via the 'c:\Users\david\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [44]:
# libraries for data preparation and visualizations
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
sns.set_theme()

# Ignore printing warnings for general readability
import warnings 
warnings.filterwarnings("ignore")

# Library to split data
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

# Encoding
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

# To build model for prediction
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
import xgboost as xgb
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import  RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

# Handle imbalanced data
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import SMOTE
from imblearn.pipeline import Pipeline

# To get diferent metric scores
from sklearn.metrics import (
     f1_score,
     accuracy_score,
     recall_score,
     precision_score,
     confusion_matrix,
     roc_auc_score,
     roc_curve,
     plot_roc_curve,
     plot_confusion_matrix,
     classification_report)

In [73]:
# Evaluation function 
def evaluate_model(model, X_test, y_test):
    predictions = model.predict(X_test)
    predicted_proba = model.predict_proba(X_test)

    
    print('confusion_matrix')
    print(confusion_matrix(y_test, predictions))

    print(f'f1_score : {f1_score(y_test, predictions)}')


    print('classification_report')
    print(classification_report(y_test, predictions))

## Features preprocessing

In [53]:
X_origi = pd.get_dummies(data[['embedding','key title','years of experience']].fillna(0), columns= ['key title'],drop_first=True)
y_seniority = data[['new_label']]

# The aim here is to merge all the features in one list
# Before we had an a list on the embedding column and numbers on others,
# Now each we merge its in a list which has all features

X_list = []
for i in range(len(X_origi)):
    a = list(X_origi.iloc[i,0])
    b = list(X_origi.iloc[i,1:19])
    
    a.extend(b)
    X_list.append(a)
    
    
X = np.array(X_list)
y = LabelEncoder().fit_transform(y_seniority)

X_train_full, X_test, y_train_full, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

# Validation Set
X_train_val, X_test_val, y_train_val, y_test_val = train_test_split(X_train_full, y_train_full, test_size=0.20, random_state=42)

In [59]:
len(X_train_full)

28150

In [69]:


pipe_logr  = Pipeline(
                    [
                     ('Smote' ,  SMOTE()),
                     ('logr', LogisticRegression(C = 1.0, penalty = 'l2', solver= 'sag'))
                    ])

pipe_logr.fit(X_train_val, y_train_val)

y_pred = pipe_logr.predict(X_test_val)
print('\nClassification Report\n')
print(classification_report(y_test_val, y_pred))

Classification Report

              precision    recall  f1-score   support

           0       0.50      0.78      0.61       852
           1       0.96      0.86      0.91      4778

    accuracy                           0.85      5630
   macro avg       0.73      0.82      0.76      5630
weighted avg       0.89      0.85      0.86      5630

## Model selection

In [57]:
models = [("xgb", xgb.XGBClassifier()),
          ("svc", SVC()),
          ("knn" , KNeighborsClassifier()),
          ("Decision Tree", DecisionTreeClassifier(random_state=1)),
          ("Random forest", RandomForestClassifier(random_state=1)),
          ('logr', LogisticRegression())]

results  = []  
names    = []  


print("Cross Validation Model Performance on Training Set")

# loop through models & calculate mean cross validated scores              
for name, model in models:
    scores   = []
    
    kf = KFold(n_splits=5, random_state=1, shuffle=True)
    
    for train_index, val_index in kf.split(X_train_val):
           
        X_train, X_val = X_train_val[train_index], X_train_val[val_index]
        y_train, y_val = y_train_val[train_index], y_train_val[val_index]

        
        
        oversample = SMOTE()
        X_smote, y_smote = oversample.fit_resample(X_train, y_train)

        model.fit(X_smote, y_smote)
        
        y_pred = model.predict(X_val)

        score = f1_score(y_val,y_pred)
        
        scores.append(score)           
    
    names.append(name)
    results.append(sum(scores)/len(scores))
          
    print(f'{name} : {sum(scores)/len(scores)}')

Cross Validation Model Performance on Training Set
xgb : 0.9999218231384365
svc : 0.9846888880204151
knn : 0.847775611539675
Decision Tree : 0.9999740562978336
Random forest : 0.9659809228047364
logr : 0.8976653270855965

##

In [75]:
pipe_dt  = Pipeline(
                    [
                     ('Smote' ,  SMOTE()),
                     ("Decision Tree", DecisionTreeClassifier(random_state=1))
                    ])

pipe_dt.fit(X_train_val, y_train_val)

evaluate_model(pipe_dt, X_test_val, y_test_val)

evaluate_model(pipe_dt, X_test, y_test)

confusion_matrix
[[ 852    0]
 [   0 4778]]
f1_score : 1.0
classification_report
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       852
           1       1.00      1.00      1.00      4778

    accuracy                           1.00      5630
   macro avg       1.00      1.00      1.00      5630
weighted avg       1.00      1.00      1.00      5630

confusion_matrix
[[1145    0]
 [   1 5892]]
f1_score : 0.9999151463725074
classification_report
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1145
           1       1.00      1.00      1.00      5893

    accuracy                           1.00      7038
   macro avg       1.00      1.00      1.00      7038
weighted avg       1.00      1.00      1.00      7038

In [68]:


pd.DataFrame(X_test_val).iloc[:,764:784]

,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783
0,-0.078686,0.097839,-0.202828,-0.568545,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,-0.242855,0.278851,0.245455,-0.542952,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.039753,0.108883,0.353326,-0.921359,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-0.142591,0.167629,0.208245,-0.861528,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-0.101013,0.094324,0.004337,-0.938530,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5625,-0.109744,-0.109909,0.071315,-0.541547,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5626,-0.132576,-0.155991,0.166884,-0.888026,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5627,0.119114,0.014044,0.188384,-0.829713,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5628,0.107649,-0.074078,0.138547,-0.740672,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5629,0.320493,0.220327,0.168470,-0.679493,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
pd.DataFrame(y_test_val)

      0
0     1
1     1
2     0
3     1
4     1
...  ..
5625  0
5626  1
5627  1
5628  1
5629  0

[5630 rows x 1 columns]